<div class="row">

  <div class="row">

    <div class="col-lg-3">

      <h1 class="my-4">Book Category</h1>
      <div class="list-group">
        <a routerLink="/category/1"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"   class="list-group-item">Web Developtment </a>
        <a routerLink="/category/2" [routerLinkActive]="['active']" class="list-group-item">Programmig </a>
        <a routerLink="/category/3" [routerLinkActive]="['active']"  class="list-group-item">Database </a>
      </div>

    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">

     <br>
      <div class="row" >
         
        <div class="col-md-4 col-sm-3 "  *ngFor="let book of books">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" [src]="book.imageUrl" style="height:22em" img-responsive   alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a >{{book.name | uppercase}}</a>
              </h4>
              <h5>{{book.unitPrice | currency:'INR'}}</h5>
              <p class="card-text">{{book.description}}</p>
            </div>
            <div class="card-footer">
             <button class="btn btn-primary float-right" (click)="createnewbook(book)">Add to Card</button>
            </div>
          </div>
        </div>
      </div>
      
      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>


  

